@import "../../variables.scss";

.home {
    margin: 0 auto;
    h1 {
        text-align: center;
    }

    .categories {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        width: 40rem;
        margin: 0 auto;

        button {
            padding: 0.6rem;
            border: 2px solid $main-dark-color;
            border-radius: $border-radius;
            color: $main-dark-color;
            background-color: transparent;
            font-weight: 550;
        }

        button:hover {
            cursor: pointer;
            color: white;
            background-color: $main-dark-color;
        }

        button.selected {
            background-color: $main-dark-color;
            color: white;
        }
    }

    button.clear {
        padding: 0.6rem;
        border: 2px solid red;
        border-radius: $border-radius;
        color: red;
        font-weight: 550;
        background-color: transparent;
    }

    button.clear:hover {
        cursor: pointer;
        color: white;
        background-color: red;
    }

    .posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        list-style: none;
        flex-wrap: wrap;
    }
}
