@import "../../variables.scss";

.home {
    margin: 0 auto;
    h1 {
        text-align: center;
    }

    .categories {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        width: 40rem;
        margin: 0 auto;
        button {
            padding: 0.6rem;
            border: 2px solid $main-dark-color;
            border-radius: $border-radius;
            color: $main-dark-color;
            background-color: transparent;
            font-weight: 550;
        }
        button:hover {
            cursor: pointer;
            color: white;
            background-color: $main-dark-color;
        }
    }

    button.clear {
        padding: 0.6rem;
        border: 2px solid red;
        border-radius: $border-radius;
        color: red;
        font-weight: 550;
        background-color: transparent;
    }

    button.clear:hover {
        cursor: pointer;
        color: white;
        background-color: red;
    }

    .posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        list-style: none;
        flex-wrap: wrap;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        .modalContent {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            width: 400px;
            position: relative;
        }

        button {
            margin-right: 0;
        }

        .closeButton {
            width: 5rem;
            height: 3rem;
            margin-right: 0;
            border-radius: $border-radius;
            font-weight: 600;
            font-size: 20px;
            color: $main-dark-color;
            border: none;
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            cursor: pointer;
            &:hover {
                background-color: $main-light-color;
            }
        }
    }
}
