@import "../../variables.scss";

.search {
    text-align: center;
    input {
        width: 15rem;
        height: 2rem;
        border-radius: $border-radius;
        border: 2px solid $main-dark-color;
        padding-left: 1rem;
        font-size: 16px;
        &:active {
            appearance: none;
        }
    }
    .search {
        width: 5rem;
        height: 3rem;
        margin-left: 1rem;
        border-radius: $border-radius;
        border: 2px solid $main-dark-color;
        align-self: center;
        background-color: white;
        &:hover {
            background-color: $main-dark-color;
            color: white;
            cursor: pointer;
        }
    }
    .none {
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
    }
    .posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        list-style: none;
        flex-wrap: wrap;
    }
}
