@import "../../variables.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    .closeButton {
      width: 5rem;
      height: 3rem;
      margin-right: 0;
      border-radius: $border-radius;
      font-weight: 600;
      font-size: 20px;
      color: $main-dark-color;
      border: none;
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      cursor: pointer;
      &:hover {
        background-color: $main-light-color;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      input {
        width: 250px;
        height: 40px;
        border-radius: $border-radius;
        border: 2px solid $main-dark-color;
        padding-left: 1rem;
      }
      select {
        appearance: none;
        width: 260px;
        height: 50px;
        border-radius: $border-radius;
        border: 2px solid $main-dark-color;
        padding-left: 1rem;
        option {
          padding-left: 3px;
        }
      }
      button {
        width: 7rem;
        height: 3rem;
        border-radius: $border-radius;
        background-color: #ffffff;
        font-weight: 600;
        color: $main-dark-color;
        border: 2px solid $main-dark-color;
        &:hover {
          cursor: pointer;
          background-color: $main-light-color;
        }
      }
    }
    button {
      margin-right: 0;
    }
  }
}
